html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #37404a;
}

.footer {
  padding: 0.5em;
  font-weight: 100;
  margin: auto;
  color: white;
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: rgba(55, 64, 74, 0.75);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  z-index: 1;
}
.nav-logo {
  width: 10%;
  height: 100%;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem !important;
  justify-self: flex-start;
}

.logo-img {
  width: 48px;
  height: 48px;
}
.main-nav {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  border: none;
  background: none;
  height: 100%;
}

.main-nav a {
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.main-nav a:hover{
  background-color: rgba(73, 85, 99);
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 95vh;
}

.home-text-container {
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-text-container h1 {
  font-size: 3rem;
  color: white;
  text-shadow: black 1px 1px 5px;
}

.home-text-container h2 {
  font-size: 4rem;
  color: #44b893;
  letter-spacing: 0.4rem;
  text-shadow: black 1px 1px 5px;
}
.home-text-container h3 {
  font-size: 1rem;
  color: white;
  font-weight: 300;
  text-shadow: black 1px 1px 5px;
}
.home-text-container a {
  border: none;
  background-color: #44b893;
  color: white;
  width: 40%;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: black 1px 1px 5px;
  transition: background-color 0.5s ease;
}
.home-text-container a:hover {
  background-color: rgb(77, 207, 165);
  transition: background-color 0.5s ease;
}

.break {
  margin: 2rem auto;
  height: 1px;
  width: 75%;
  border-bottom: solid #44b893 2px;
  display: block;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-container a {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.git-logo {
  background-color: #44b893;
  border-radius: 50px;
}

.linkedin {
  background: url("./icons//linkedin.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 95vh;
  padding-top: 5rem;
}

.container h3 {
  color: white;
  font-size: 3rem;
  text-shadow: black 1px 1px 5px;
}

.container p {
  color: white;
  font-weight: 300;
  width: 70ch;
  text-align: center;
}



.projects {
  width: 75%;
  background-color: rgba(73, 85, 99);
  border-radius: 1rem;
  padding: 1rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: black 1px 1px 5px;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.project-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.project-text {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-title {
  font-size: 2rem;
  color: white;
  text-shadow: black 1px 1px 5px;
  margin-bottom: 2rem;
}

.project-text p {
  color: white;
  font-weight: 300;
  max-width: 50ch;
  margin-bottom: 2rem;
}

.project-btn-align {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.project-btn {
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #44b893;
  padding: 1rem;
  width: 20ch;
  box-shadow: black 1px 1px 5px;
  transition: background-color 0.5s ease;
}

.project-btn:hover {
  background-color: rgb(77, 207, 165);
  transition: background-color 0.5s ease;
}

.project-img-container {
  margin-right: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectImg {
  max-width: 100%;
  max-height: 80%;
}

.section {
  background-color: rgba(73, 85, 99);
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  box-shadow: black 1px 1px 5px;
}

.about-img-container {
  width: 50%;
}
.about-img {
  width: 25%;
  height: 15%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-img-padding {
  padding: 1rem 0;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col p {
  color: white;
  font-weight: 300;
  max-width: 45ch;
  flex-wrap: wrap;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .nav-logo {
    margin-left: 15px;
  }

  .home-text-container {
    max-width: 80%;
  }
  .home-text-container h1 {
    font-size: 2rem;
    align-self: center;
  }
  .home-text-container h2 {
    letter-spacing: 0;
    font-size: 2.5rem;
  }

  .home-text-container a {
    align-self: center;
    width: 50%;
  }
  .project-title {
    text-align: center;
  }
  .project-body {
    flex-direction: column;
  }

  .project-text p {
    margin-top: 1rem;
    width: 90%;
  }
  .project-text a {
    width: 60%;
  }
  .contact-text {
    max-width: 40ch;
  }

  .project-img-container {
    margin-right: 0;
    width: 80%;
  }
  .section {
    flex-direction: column;
  }

  .about-img-container {
    width: 80%;
  }
  .about-img {
    width: 25%;
    height: 15%;
  }

  .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .about-img-padding {
    padding: 1rem 0;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col p {
    color: white;
    font-weight: 300;
    width: 90%;
    flex-wrap: wrap;
    padding: 1rem;
  }

  .form-container {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-form p {
    width: 90%;
  }

  .input-container {
    flex-direction: column;
  }
  .input-container label {
    align-self: flex-start;
    margin-bottom: 0.5rem;
  }
  .input-container input {
    width: 100%;
  }

  .textarea-input-container {
    flex-direction: column;
  }
  .textarea-input-container textarea {
    width: 100%;
  }
  .textarea-input-container label {
    align-self: flex-start;
    margin-bottom: 0.5rem;
  }

  .form-container button {
    align-self: flex-end;
    border: none;
    background-color: #44b893;
    color: white;
    padding: 0.5rem;
  }
  .alert {
    width: 70%;
  }

  .alert p {
    max-width: 80%;
  }
}
